#products {
  width: 100%;
  padding: 5rem 0;
}
.product_grid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}
.product_header {
  width: 100%;
}
.product_intro {
  width: 100%;
}
